<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowbite Flask</title>
    <style>
        @font-face {
            font-family: 'Chalkboard';
            font-weight: normal;
            src: url("{{url_for('static', filename='fonts/chalkboard.otf')}}") format('opentype');
        }
    </style>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>

<body>
    <div class="h-screen main-container">
        {% include('navbar.html') %}
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js"></script>
</body>

</html>
