@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-bottom-1700003160 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1700003160 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 203px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1700003160 .shape-fill {
    fill: white;
}

.main-container {
    background-color: #f9c8c1;
}

#icon-row img {
    min-height: 200px;
}

.circle {
    width: 45rem;
    height: 45rem;
    border-radius: 50%;
    text-align: center;
    background-color: pink;
    margin-right: -10rem;
}

p {
    font-family: "Chalkboard";
}

.crown {
    top: -245px;
    transform: rotate(-20deg);
    left: -70px;
    width: 400px;
    z-index: 9999;
}

#kuulemmik div {
    z-index: 20;
}

#kuulemmik::before {
    content: "";
	position: absolute;
	width: 300%;
	height: 300%;
	top: -25%;
	left: -100%;
	background: radial-gradient(ellipse at center, rgb(186, 186, 186) 0%,rgb(186, 186, 186) 50%,white 50%,white 100%);
    z-index: 2;
}
